.approvals-entry{
    width: 80%;
    margin-left: 10px;
}
.approvals-entry thead{
    margin-bottom: 20px;
}
.approvals-entry thead tr{
    background: #5D8CDA;
}
.approvals-entry thead th{
    color: #fff;
    padding: 5px;
    text-align: left;
}
.approvals-entry tfoot{
    margin-bottom: 20px;
}
.approvals-entry tfoot tr{
    background: #5D8CDA;
}
.approvals-entry tfoot th{
    color: #fff;
    padding: 5px;
}
.approvals-entry tbody tr{
    margin: 10px;
}
.approvals-entry tbody tr td{
    border-bottom: 1px solid rgba(139, 139, 139, 0.4);
    text-align: left;
    padding: 15px;
    padding-left: 0px;
    color: #8B8B8B;
    font-size: 14px;
    margin: 10px;
}
.approvals-entry tbody tr td b{
    margin-right: 10px;
}
ion-row.approval-entry-border .custom-padding-approval:last-child{
    content: " ";
    position: relative;
    border-left: 1px solid rgba(139, 139, 139, 0.4);
    padding-left: 60px;
}
.approval-entry-header{
    height: 100%;
    width: 100%;
    background: #5D8CDA;
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 1px;
    color: #fff;
    font-weight: bold;
}
.approval-entry-border{
    border: 1px solid #5D8CDA;
}
.custom-padding-approval{
    margin-top: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
}
.mobile-approval-entry{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #5D8CDA;
    border-top: 7px solid #5D8CDA;
    padding-bottom: 40px;
}
.mobile-approval-entry table{
    width: 90%;
    margin: 0 auto;
}
.mobile-approval-entry table thead{
    border-bottom: 1px solid rgba(139, 139, 139, 0.4);
}
.mobile-approval-entry table thead tr th{
    color: #8F8F8F;
    font-weight: normal;
    text-align: left;
    padding: 20px;
    padding-left: 0;
}
.mobile-approval-entry table tbody tr td b{
    color: #5D8CDA;
    font-weight: normal;
}
.mobile-approval-entry table tbody tr td{
    color: #8F8F8F;
    font-weight: normal;
    text-align: left;
    padding: 20px;
    padding-left: 0;
}
.custom-btn-3{
    --background: linear-gradient(60.33deg, #5D8CDA 0%, #385C8D 97.06%);
    --box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.52);
    text-transform: capitalize;
}
.custom-btn-3 ion-icon{
    margin-right: 5px;
}