.appraisals-table{
    width: 100%;
}
.appraisals-table thead{
    margin-bottom: 20px;
}
.appraisals-table thead tr{
    background: #5D8CDA;
}
.appraisals-table thead th{
    color: #fff;
    padding: 5px;
}
.appraisals-table tfoot{
    margin-bottom: 20px;
}
.appraisals-table tfoot tr{
    background: #5D8CDA;
}
.appraisals-table tfoot th{
    color: #fff;
    padding: 5px;
}
.appraisals-table tbody tr{
}
.appraisals-table tbody tr td{
    border-top: 1px solid #5D8CDA;
    border-bottom: 1px solid #5D8CDA;
    border-left: 1px solid #5D8CDA;
    border-right: 1px solid rgba(139, 139, 139, 0.4);
    text-align: center;
    padding: 10px;
    color: #8B8B8B;
    font-size: 18px;
}
.appraisals-table tbody tr td:first-child::before{
    content: " ";
    position: relative;
    background-color: #AAC1E8;
    color: #AAC1E8;
    float: left;
    width: 10px;
    height: 11px;
    border-radius: 20px;
}
.hide-wrapper .appraisals-table tbody tr td:first-child::before{
    content: " ";
    position: relative;
    background-color: none !important;
    float: none !important;
    width: 0px !important;
    height: 0px !important;
    border-radius: 0px !important;
}
.appraisals-table tbody tr td:last-child{
    border-right: 1px solid #5D8CDA;
}
.secondary-color{
    --background: #5d8cda;
    --color: #ffffff;
  }
@media only screen and (max-width: 570px) {
    .appraisals-table tbody tr td:first-child::before{
        content: " ";
        position: relative;
        background-color: none;
        color: none;
        float: left;
        width: 0px !important;
        height: 0px !important;
        border-radius: 20px;
    }
}
.appraisal-wrapper{
    width: 100%;
    background: #FCFCFC;
    border: 1px solid #5D8CDA;
    box-sizing: border-box;
    box-shadow: 6px 8px 0px #5D8CDA;
}
.appraisal-view{
    width: 90%;
    margin: 20px;
}
.appraisal-view tbody{
    padding: 20px;
}
.appraisal-view tbody tr{
    border-bottom: 1px solid #8B8B8B;
}
.appraisal-view tbody tr:last-child{
    border-bottom: none;
}
.appraisal-view tbody tr td{
    padding: 10px;
    color: #8B8B8B;
}
.appraisal-view tbody tr td b{
    color: #5D8CDA;
    font-weight: bolder;
    margin-right: 5px;
}
.appraisal-view tbody tr td span{
    color: #28C600;
}
.custom-score{
    text-align: center;
    position: absolute;
    top: 10%;
    color: #8B8B8B;
}
.custom-score span{
    font-size: 60px;
    color: #5d8cda;
}
.appraisal-score{
    color: rgba(93, 140, 218, 0.6);
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    border-right: 4px solid #5D8CDA;
    padding-right: 10px;
}
td.custom-border-bottom-2{
    border-bottom: 1px solid #8B8B8B;
}
table.approval-mobile tbody tr td.custom-appraisal-text{
    color: #8B8B8B;
    font-size: 12px;
}
table.approval-mobile tbody tr td.custom-appraisal-text span{
    color: #5d8cda;

}
.custom-appraisal-2{
    background-image: url('/assets/images/Rectangle 11.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    border: 1px solid rgba(93, 140, 218, 0.6);
    padding: 10px;
    width: 95%;
    margin: 0 auto;
}
.custom-appraisal-2 h2{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 14px;
    color: #5D8CDA;
    padding-bottom: 5px;
}
.custom-appraisal-2 h3{
    color: #8F8F8F;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 5px;
}
.custom-appraisal-2 h3.custom-h3{
    color: #5D8CDA;
}
.custom-appraisal-2 ion-col:last-child{
    border-left: 1px solid rgba(139, 139, 139, 0.4);
}
.no-raduis{
    --border-radius: none;
}
.appraisal-table{
    margin-top: 10px;
    border-collapse:separate; 
    border-spacing:0 22px;
}