.approvals-table{
    width: 100%;
}
.approvals-table thead{
    margin-bottom: 20px;
}
.approvals-table thead tr{
    background: #5D8CDA;
}
.approvals-table thead th{
    color: #fff;
    padding: 5px;
}
.approvals-table tfoot{
    margin-bottom: 20px;
}
.approvals-table tfoot tr{
    background: #5D8CDA;
}
.approvals-table tfoot th{
    color: #fff;
    padding: 5px;
}
.approvals-table tbody tr{
}
.approvals-table tbody tr td{
    border-top: 1px solid #5D8CDA;
    border-bottom: 1px solid #5D8CDA;
    border-left: 1px solid #5D8CDA;
    border-right: 1px solid rgba(139, 139, 139, 0.4);
    text-align: center;
    padding: 10px;
    color: #8B8B8B;
    font-size: 14px;
}
.custom-view-btn{
    --background: #385C8D !important;
    --box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.52);
    text-transform: capitalize;
    font-size: 15px;
    --border-radius: 0 !important;
    margin-right: 15px;
}
.custom-img-btn{
    margin-right: 10px;
}
table.approval-mobile{
    width: 100%;
}
table.approval-mobile tbody tr td{
    padding: 5px;
    color: #8F8F8F;
}
table.approval-mobile tbody tr td b{
    color: #5D8CDA;
    font-weight: normal;
}
.accordion__item{
    border: 1px solid rgba(93, 140, 218, 0.6);
    margin-bottom: 20px;
}
.accordion{
    border: none !important;
}
.accordion__button{
    background: none !important;
}