.options-bg {
  background: #fff url("../assets/images/bgd.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.custom-logo-btn {
  opacity: 0.6;
}
.custom-option-page {
  border-top: 6px solid #2c4d85;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.action-card {
  box-shadow: 0px 1px 1px 0px #ccc;
}

@media only screen and (min-width: 960px) {
  .options-bg {
    background: #fff url("../assets/images/Background.png") !important;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .custom-option-color {
    background-color: #fff;
  }
  .custom-option-page {
    border-top: none !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
  .custom-options-text {
    margin-top: 20px;
    font-size: 74px;
    color: #fff;
    font-weight: bold;
  }
  .custom-option-logo {
    float: left;
    text-align: start;
  }
  ion-menu.md.menu-type-overlay.menu-enabled.menu-side-start.split-pane-side.menu-pane-visible.hydrated {
  }
}
