.custom-comp-row{
    margin-top: -20px;
    margin-bottom: 50px;
}
.custom-comp-name p{
    background: #2c4d85;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 4px solid #b3cbf3;
    width: max-content;
}
.no-padding{
    padding: 0;
}
.custom-column{
    /* flex: 0 0 calc(calc(3 / var(--ion-grid-columns, 12)) * 90%); */
    width: 90% !important;
    margin: 0 auto;
}
.home-bg-img{
    background-image: url('/assets/images/home_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    
}
@media only screen and (max-width: 570px) {
    .custom-comp-row{
        margin-top: -40px;
        margin-bottom: 0px;
    }
    .custom-comp-name p{
        background: #2c4d85;
        border-bottom: 4px solid #9daec9;

    }
}