.comingsoon-bg{
    --background: url("../assets/images/coming-soon-bg.png") no-repeat center center;
    background: url("../assets/images/coming-soon-bg.png") no-repeat;
    background-size: cover;
}
.img-row{
    width: 100%;
    position: absolute;
    top: 20%;
}
.fielset{
    border: 4px solid #7785a7;
    width: 100%;
}
.fieldset-data{
    background: #fff;
    width: 93%;
    padding: 10px;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #7785a7;
}