.ion-color-favorite {
  --ion-color-base: #2c4d85;
  --ion-color-base-rgb: 105, 187, 123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #2c4d85;
  --ion-color-tint: #2c4d85;
}
.ion-color-btnColor {
  --ion-color-base: #fff;
  --ion-color-base-rgb: 105, 187, 123;
  --ion-color-contrast: #2c4d85;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #2c4d85;
  --ion-color-tint: #2c4d85;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-end: 20px;
  --padding-start: 20px;
}
.logo {
  width: 120px;
  margin: 0 auto;
}

.center {
  text-align: center;
  font-style: italic;
}
.input-form {
  border: 1px solid transparent;
  box-shadow: 2px 1px 15px 5px rgba(204, 202, 204, 1);
  border-radius: 30px;
  padding-left: 15px;
}
.briefcase {
  color: #bacef0 !important;
}
.icon-inner {
  color: #bacef0;
}

button {
  --background: #fff;
  --color: #bacef0;
  --padding: 15px;
  --border-radius: 50px;
}
button.button-native {
  padding: 30px 20px 30px 20px;
}
.native-input .sc-ion-input-md {
  font-size: 18px;
}

input.native-input.sc-ion-input-md {
  font-size: 16px;
  margin-left: 10px;
}

input.native-input.sc-ion-input-md::placeholder {
  color: #b2b9be;
  font-weight: bold;
}

.custom-menu {
  // background: #2c4d85 !important;
  color: #fff;
}
.bg-img {
  --background: #fff url("../assets/images/Welcome.png") no-repeat center center /
    cover !important;
}
