.donutchart-track{
    fill: transparent;
    stroke: #DAE2E5;
    stroke-width: 16 !important;
  }
  .donutchart-indicator {
    fill: transparent;
    stroke: #385C8D;
    stroke-width: 46;
    stroke-dasharray: 0 10000;
    transition: stroke-dasharray .3s ease;
  }
  
  .donutchart {
    position: absolute;
    margin: 0 auto;
    border-radius: 50%;
    display: block;
    left: 32%;
    top: 28%;
  }
  
  
  .donutchart-text{
    font-family: 'Roboto';
    fill: #607580;
  }
  .donutchart-text-val{
    font-size:22px;
    font-weight: bolder;
  }
  .donutchart-text-percent{
    font-size:14px;
  }
  .donutchart-text-label{
    font-size:9px;
  }
  
  