.ion-color-favorite {
  --ion-color-base: #2c4d85;
  --ion-color-base-rgb: 105, 187, 123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #2c4d85;
  --ion-color-tint: #2c4d85;
}
.ion-color-btnColor {
  --ion-color-base: #fff;
  --ion-color-base-rgb: 105, 187, 123;
  --ion-color-contrast: #2c4d85;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #2c4d85;
  --ion-color-tint: #2c4d85;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-end: 20px;
  --padding-start: 20px;
}
.custom-row {
  width: 83%;
  margin: 0 auto;
  background: #f3f2f1;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 45px;
  border: 1px solid #cbcfd2;
  display: flex;
}
.custom-row ion-col ion-card {
  height: 100%;
}
.custom-row ion-col {
  flex: 1;
  height: 180px;
}
.custom-row:first-child {
  margin-top: 70px;
}
.logo {
  width: 120px;
}
.home-img-2 {
  width: 70%;
  margin: 0 auto;
  // background-color: #6798E7;
  color: #ffffff;
  height: 100%;
  // margin-bottom: 50px;
}

.custom-color-1 {
  background: #6697e8;
}

.custom-color-2 {
  background: #e6972f;
}

.custom-color-3 {
  background: #0ebf4a;
}

.custom-color-4 {
  background: #bf0e8d;
}

.custom-color-5 {
  background: #1699b6;
}

.custom-color-6 {
  background: #305895;
}
.custom-color-7 {
  background: #0ebfa9;
}

.center {
  text-align: center;
  font-style: italic;
}
.input-form {
  border: 1px solid transparent;
  box-shadow: 2px 1px 15px 5px rgba(204, 202, 204, 1);
  border-radius: 30px;
  padding-left: 15px;
}
.briefcase {
  color: #bacef0 !important;
}
.icon-inner {
  color: #bacef0;
}

button {
  --background: #fff;
  --color: #bacef0;
  --padding: 15px;
  --border-radius: 50px;
}
button.button-native {
  padding: 30px 20px 30px 20px;
}
.native-input .sc-ion-input-md {
  font-size: 18px;
}

input.native-input.sc-ion-input-md {
  font-size: 16px;
  margin-left: 10px;
}

input.native-input.sc-ion-input-md::placeholder {
  color: #b2b9be;
  font-weight: bold;
}

// .custom-menu{
//   background: #2c4d85 !important;
//   color: #fff;
// }
.bg-img {
  --background: #f9f9f9 url("../assets/images/Welcome.png") no-repeat center
    center / cover !important;
}
.custom-color {
  padding-top: 50px;
}
.custom-color ion-img {
  margin: 0 auto;
  width: 50px !important;
  color: #4467a0;
}
.custom-color ion-card-title {
  color: #4467a0 !important;
}
.custom-color ion-card-title.bold {
  font-size: 17px;
  text-align: center;
}
ion-card-title.color-2 {
  color: #fff !important;
}
.sc-ion-card-md-h {
  margin: 0;
}
.sc-ion-card-md-h {
  margin: 0 !important;
}
ion-img {
  cursor: pointer !important;
}
ion-card.sc-ion-card-md-h.sc-ion-card-md-s.md.hydrated {
  box-shadow: none !important;
  min-height: 140px;
}
// ion-col.ios.hydrated {
//   padding: 0 !important;
// }
ion-card.sc-ion-card-ios-h.sc-ion-card-ios-s.ios.hydrated {
  margin: 0 !important;
  box-shadow: none;
}
//for mobile responsiveness
@media only screen and (max-width: 570px) {
  .action-sheet-button.sc-ion-action-sheet-md {
    color: #2c4d85 !important;
  }

  .icon-danger .action-sheet-button-inner ion-icon {
    color: red;
  }

  ion-img.home-mobile-img {
    width: 85px !important;
    padding: 22px;
    background: #ffffff;
    box-shadow: 0px 2px 15px #e3e6e8;
    border-radius: 15px;
  }
  .custom-color ion-card-title.bold {
    font-size: 13px;
    text-align: center;
  }
  .home-img-2 {
    width: 90%;
    margin: 0 auto;
    background-color: inherit;
    color: #4467a0;
  }
  .custom-color {
    padding: 0px;
  }
  .custom-color ion-card-title {
    color: #4467a0 !important;
  }
  .custom-row {
    margin-bottom: -20px;
    width: 100%;
    padding: 0px;
    border: none;
    background: none;
  }
  .custom-row:first-child {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 567px) {
  .donutchart {
    left: 16% !important;
  }
  .custom-p-2 {
    left: 26px !important;
  }
}
@media only screen and (max-width: 567px) {
  .ion-hide-card {
    display: none;
  }
}

//for tab responsiveness
@media only screen and (min-width: 768px) {
  .custom-home-h3 {
    font-size: 14px !important;
  }
  .custom-home-side-bar h1 {
    font-size: 50px !important;
  }
  ion-button.custom-btn-home {
    font-size: 12px !important;
  }
  p.custom-home-p-2 {
    font-size: 12px;
  }
  .custom-home-btn-icon-2 {
    --background: #fff;
    --border-radius: none;
    color: #385c8d;
    margin-top: 17px;
    --padding-end: 5px;
    --padding-start: 5px;
    width: 47%;
  }
  .custom-home-btn-icon-2:first-child {
    margin-right: -3px;
  }
}

.custom-request {
  padding: 5px;
  background: #ffffff;
  border: 1px solid #5d8cda;
  box-sizing: border-box;
  box-shadow: 0px 0px 50px rgba(192, 196, 204, 0.5);
}
.custom-request h1 {
  margin-top: -1px;
  font-weight: 800;
  font-size: 30px;
  line-height: 10px;
  color: #5d8cda;
}
p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #4e4c4c;
}
.custom-progress-bg {
  padding-top: 25px;
  background: #fff;
  height: 80px;
  margin-top: 20px;
  box-shadow: 0px 0px 50px rgba(192, 196, 204, 0.5);
}
.custom-progress-bg p {
  margin-top: -0px;
}
p.meter {
  font-size: 14px;
}
p.meter-2 {
  position: absolute;
  margin-top: -15px;
}
.home-icon {
  height: 35px;
}
.donut {
  background: #fff;
  height: 100%;
  box-shadow: 0px 0px 50px rgba(192, 196, 204, 0.5);
}
.custom-home-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: #385c8d;
  text-align: left;
}
.custom-home-side-bar {
  background-image: url("/assets/images/query.png"),
    url("/assets/images/bg_home.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  height: 275px !important;
  width: 100% !important;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #5d8cda;
  box-sizing: border-box;
  box-shadow: 0px 0px 50px rgba(192, 196, 204, 0.5);
}
.custom-home-side-bar h1 {
  font-size: 70px;
  font-weight: 900;
  padding: 0;
  margin: 0;
  margin-top: -10px;
  color: #385c8d;
  background: -webkit-linear-gradient(90deg, #5d8cda 9.71%, #385c8d 84.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-home-border {
  border-top: 1px solid #b9b4b4;
  border-bottom: 1px solid #b9b4b4;
}
.custom-home-margin {
  margin-top: 10px;
  margin-bottom: -10px;
}
.custom-btn-home {
  font-size: 17px !important;
  text-transform: none !important;
}
.custom-home-btn-icon {
  --background: #fff;
  --border-radius: none;
  color: #385c8d;
  margin-top: 17px;
  --padding-end: 5px;
  --padding-start: 5px;
}
.custom-home-btn-icon:first-child {
  margin-right: -3px;
}
.custom-home-border-bottom {
  border-bottom: 1px solid #b9b4b4;
}
.custom-home-border-bottom::before {
  content: " ";
  position: absolute;
  top: 55px;
  width: 30px;
  background-color: #385c8d;
  height: 5px;
}
ion-slide {
  display: initial !important;
}
.table-space thead {
}
.table-space {
  border-collapse: separate;
  border-spacing: 0 5px;
}
.table-space thead {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: -10px;
  margin-bottom: -26px;
}
.table-space tbody {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-spacing: 0 21px;
}
.table-space tbody tr:first-child {
  // margin-top: -5px;
}

.ios.ion-activatable.segment-button-checked {
  border: 1px solid #5d8cda;
  background-color: #fff !important;
}
