.custom-schedule {
  width: 95% !important;
  background-image: linear-gradient(
    to right,
    #4b75bc,
    #436bae,
    #3b61a0,
    #345792,
    #2c4d85
  );
  color: #ffffff;
}
.custom-schedule-shadow {
  box-shadow: 2px 1px 15px 1px rgb(233, 228, 233);
}
.custom-schedule::before {
  content: "";
  border-left: 9px solid #2c4d85;
  border-top: 29px solid transparent;
  border-bottom: 32px solid transparent;
  position: absolute;
  top: 2px;
  right: -9px;
  z-index: 2;
  background-color: white;
}
.custom-schedule-padding {
  padding: 10px;
}
.custom-schedule-padding-2 {
  padding: 5px;
}
div.item-inner {
  --border-style: none !important;
  border-color: transparent !important;
}
ion-item {
  /* box-shadow: 2px 1px 15px 1px rgba(204,202,204,1) !important; */
}
.item-native {
  box-shadow: 2px 1px 15px 1px rgba(204, 202, 204, 1) !important;
}
.item-inner {
  border-style: none !important;
  border-color: transparent !important;
}
.custom-schedule-card {
  box-shadow: 2px 1px 15px 1px rgba(204, 202, 204, 1) !important;
  width: 95% !important;
}
.custom-schedule-card h6 {
  font-size: 13.5px;
  font-weight: bolder;
  color: #2c4d85;
}
.custom-schedule-text-size {
  font-size: 14px;
}
.custom-schedule-width {
  width: 96% !important;
  margin-top: -18px !important;
  margin: auto;
  border-radius: 5px;
}
.custom-schedule-margin {
  width: 100%;
  margin: 0 auto !important;
}
.custom-schedule-text-weight {
  font-size: 12.1px;
  font-weight: 600;
}
.css-26l3qy-menu {
  z-index: 100;
}
.custom-sticky{
  position: sticky;
    top: 0;
    /* box-shadow: 0px 5px 7px -2px rgba(92, 92, 92, 0.75); */
    background-color: #fff;
    z-index: 1000;
}