ion-select{
  max-width: 100% !important;
}
.no-padding{
  padding-left: 0px;
}
button{
  --border-color: transparent !important;
}
@media only screen and (max-width: 768px) {
  .modal-wrapper.sc-ion-modal-md{
      border-radius: 5px;
      height: 80% !important;
      width: 85% !important;
  }
}
@media only screen and (max-width: 570px) {
  .modal-wrapper.sc-ion-modal-md{
    border-radius: 5px;
    height: 40% !important;
    width: 100% !important;
  }
}

.custom-modal-round{
  padding: 6px;
  border-radius: 20px;
}
ion-item.custom-item-login.no-padding.item.md.in-list.ion-focusable.item-interactive.item-datetime.item-has-placeholder.item-has-value.hydrated{
  width: 85%;
  margin: 0 auto;
  --padding-start: 0px;
  --border-color: transparent;
  --border-width: none !important;
  --highlight-color-focused: none;
  --border-radius: 10px !important;
  --box-shadow: 2px 1px 5px 1px rgba(204,202,204,1);
}
ion-item.custom-item-login.no-padding.item.md.in-list.ion-focusable.hydrated.item-interactive.item-select.item-has-placeholder{
  width: 85%;
  margin: 0 auto;
  --padding-start: 0px;
  --border-color: transparent;
  --border-width: none !important;
  --highlight-color-focused: none;
  --border-radius: 10px !important;
  --box-shadow: 2px 1px 5px 1px rgba(204,202,204,1);
}
.select-placeholder{
  color: #000 !important;
}
ion-select.custom-input-login.md.in-item.hydrated{
  width: 100%;
  color: #000;
}
ion-select.custom-input-login.md.in-item.hydrated .select-icon{
  position: absolute !important;
  right: 0 !important;
}
ion-item.custom-leave-modal.item.md.in-list.ion-focusable.item-label.hydrated{
  --inner-border-width: none !important;
  --border-color: transparent !important;
  width: 85% !important;
  margin: 0 auto;
}
input.native-input.sc-ion-input-md::placeholder {
  color: #1111119c;
  font-weight: 500;
}
ion-label#ion-cb-0-lbl {
  color: #1111119c;
  font-weight: 400;
}