.segment-button-checked {
  background: #2c4d85 !important;
  color: #fff !important;
}
.segment-button-checked:before {
  // content: "";
  // border-right: 30px solid #fff;
  // border-top: 50px solid transparent;
  // border-bottom: 50px solid transparent;
  // /* position: absolute; */
  // /* top: 30px; */
  // /* right: 16px; */
  // z-index: 2;
}
ion-segment-button {
  height: 40px;
  background-color: #fff !important;
}
ion-segment-button.md.segment-button-has-label.segment-button-has-label-only.segment-button-checked.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.hydrated:first-child::before {
  border-left: none !important;
}
ion-segment-button.md.segment-button-has-label.segment-button-has-label-only.segment-button-checked.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.hydrated:last-child::after {
  border-right: none !important;
}
ion-segment-button.md.segment-button-has-label.segment-button-has-label-only.segment-button-checked.segment-button-layout-icon-top.ion-activatable.ion-activatable-instant.hydrated::before {
  content: "";
  border-left: 15px solid #fff;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  position: absolute;
  /* top: -48px; */
  /* right: -1px; */
  z-index: 2;
  height: -10px;
}
.custom-bold-text {
  font-weight: bold;
}
.custom-border-bottom {
  padding: 10px;
  border-bottom: 1px solid #2c4d85;
}
.custom-border-bottom:last-child {
  border-bottom: none !important;
}
.custom-leave-padding {
  padding-top: 10px;
}
