/* @media only screen and (min-width: 1014px){ */

.form-bg {
  background-color: #f3f2f1;
  padding: 40px;
}

@media (max-width: 599px) {
  .form-bg {
    background-color: #f3f2f1;
    padding: 16px;
  }
}

.form-border {
  border-width: 4px 0.5px 0.5px 0.5px;
  border-style: solid;
  border-color: #5d8cda;
}
.form-input {
  color: #777 !important;
  font-weight: 400;
}
.form-p {
  margin-bottom: 5px;
  color: #777;
  font-size: 17px;
}
.form-img {
  background-image: url("/assets/images/bottom-bar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  margin-bottom: 20px;
  padding-bottom: 40px;
  opacity: 0.9;
}
.form-bg-img {
  background-image: url("/assets/images/ess desk bg_verylight.svg"),
    url("/assets/images/abstract_bg.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 80% 60%, 30% 60%;
  background-position: bottom left, bottom right;
}
.form-border-bottom {
  border-bottom: 1px solid #5d8cda !important;
}
.form-border-all {
  border: 1px solid #5d8cda !important;
}
:host(.toggle-checked) .toggle-icon {
  --border-radius: 45px;
  height: 38px;
  width: 70px;
}
:host(.ion-color.toggle-checked) .toggle-inner {
  top: 0px;
  height: 37px;
  width: 33px;
}
.custom-btn {
  --background: linear-gradient(
    79.98deg,
    #5d8cda 0%,
    #385c8d 97.06%
  ) !important;
  --box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.52);
  text-transform: capitalize;
  /* font-size: 17px; */
  --border-radius: 0 !important;
  margin-right: 15px;
}
.custom-btn-2 {
  --background: #385c8d !important;
  --box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.52);
  text-transform: capitalize;
  /* font-size: 17px; */
  --border-radius: 0 !important;
  margin-right: 15px;
}
.custom-cancel-btn {
  --background: #cd4b4b;
  --box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.52);
  text-transform: capitalize;
  --border-radius: 0 !important;
}
.ion-color-customColor {
  --ion-color-base: #5d8cda;
  --ion-color-base-rgb: 105, 187, 123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #385c8d;
  --ion-color-tint: #5d8cda;
}

@media only screen and (max-width: 570px) {
  .custom-btn {
    font-size: 16px;
  }
  .custom-cancel-btn {
    font-size: 16px;
  }
}
.closeBtn {
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  transition: all 1s;
}
.closeBtn:hover {
  color: rgb(177, 174, 174);
}

/* } */
