.leave-balance-table{
    width: 100%;
}
.leave-balance-table thead{
    /* margin-bottom: 20px; */
}
.leave-balance-table thead tr{
    background: #5D8CDA;
}
.leave-balance-table thead th{
    color: #fff;
    padding: 5px;
}
.leave-balance-table tbody tr{
}
.leave-balance-table tbody tr td{
    border-top: 1px solid #5D8CDA;
    border-bottom: 1px solid #5D8CDA;
    border-left: 1px solid #5D8CDA;
    border-right: 1px solid rgba(139, 139, 139, 0.4);
    text-align: center;
    padding: 10px;
    color: #8B8B8B;
    font-size: 18px;
}
.leave-balance-table tbody tr td:first-child::before{
    content: " ";
    position: relative;
    background-color: #AAC1E8;
    color: #AAC1E8;
    float: left;
    width: 10px;
    height: 11px;
    border-radius: 20px;
}
.leave-balance-table tbody tr td:last-child{
    border-right: 1px solid #5D8CDA;
}
@media only screen and (max-width: 570px) {
    .leave-balance-table tbody tr td:first-child::before{
        content: " ";
        position: relative;
        background-color: none;
        color: none;
        float: left;
        width: 0px !important;
        height: 0px !important;
        border-radius: 20px;
    }
}