
@media only screen and (max-width: 570px) {
    .card-history{
        width: 100% !important;
    }
    .custom-history-padding {
        --padding-start: 25px !important;
        --padding-end: 50px !important;
        --box-shadow: none;
    }
    .custom-history-padding-2 {
        --padding-start: 26px !important;
        --padding-end: 40px !important;
        --box-shadow: none;
    }
    .border-right-shape-3 {
        -webkit-clip-path: polygon(14% 1%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(14% 1%, 100% 0, 100% 100%, 0 100%);
        margin-left: -30px !important;
        --padding-start: 25px !important;
    }
    .content-center .ion-float-right{
        /* width: fit-content;
        margin: 0 auto !important; */
        float: right !important;
    }
    .create-btn{
        float: right;
    }
    /* .ion-float-right {
        float: none !important;
    } */
}

.create-btn {
    --background: #28C600 !important;
    /* text-transform: capitalize; */
    /* font-size: 17px; */
    --border-radius: 0 !important;
    text-transform: capitalize;
}
/* @media only screen and (min-width: 1014px){ */
.form-bg-img-2{
    background-image: url('/assets/images/ess desk bg_verylight.svg'), url('/assets/images/abstract_bg.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 80% 60%, 30% 60%;
    background-position: bottom center, bottom right;
    
}
.custom-history-btn{
    --background:  #5D8CDA !important;
    /* text-transform: capitalize; */
    /* font-size: 17px; */
    --border-radius: 0 !important;
    text-transform: capitalize;
}
.custom-history-padding{
    --padding-start: 35px;
    --padding-end: 55px;
    --box-shadow: none;
}
.custom-history-padding-2{
    --padding-start: 35px;
    --padding-end: 55px;
    --box-shadow: none;
}
.custom-history-padding-2{
    clip-path: polygon(10% 0, 90% 0, 78% 100%, 0 100%);
    margin-left: -24px;
}
.custom-minus-margin{
    margin-left: -16px;
}
.minus-margin{
    margin-right: -15px;
}
.border-right-shape{
    clip-path: polygon(0 1%, 90% 0, 78% 100%, 0 100%);
}
.border-right-shape-3{
    clip-path: polygon(14% 1%, 100% 0, 100% 100%, 0 100%);
    margin-left: -30px;
    --padding-start: 40px;
}
.card-history-main{
    
}
.custom-margin-top{
    margin-top: -35px;
}
.card-history{
    --background:  #fbfcfd url('/assets/images/card_bg.png') no-repeat top right !important;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #e3ebf7;
    border-right: 3px solid #5D8CDA;
}
.card-history:nth-last-child(1){
    /* width: 100%; */
}
.card-history-header{
    width: fit-content;
    height: 32px;
    --background:  #5D8CDA !important;
    color: #fff !important;
}
.card-history-header ion-card-title{
    margin-top: -10px;
    padding-top: 0;
    color: #fff;
    font-size: 16px; 
}
.card-history h5{
    color: #58d13f;
    font-weight: 500 !important;
    margin-bottom: 10px !important;
}
.card-history h5.decline{
    color: red;
}
.card-history h3{
    font-size: 20px !important;
    font-weight: 800 !important;
    margin-bottom: 10px !important;
}
.card-history div span{
    margin-right: 15px;
    font-size: 13px;
}
.card-history div span ion-icon{
    font-size: 17px;
    vertical-align: middle;
    color: #5D8CDA !important;
    margin-top: -4px;
    padding-right: 10px;
}
.history-bg-img{
    background-image: url('/assets/images/employee-desk.svg');
    background-repeat: no-repeat;
    background-size: 80% 60%;
    background-position: center;
}
.history-btn{
    border: 2px solid #5D8CDA;
    --background: transparent !important;
    --color: #5D8CDA !important;
    font-weight: 800;
}
/* } */

ion-segment-button.custom-history-btn ion-label:hover{
    color: #5D8CDA !important;
}

ion-segment-button.segment-button-checked ion-label{
    color: #5D8CDA !important;
}