.custom-label-login {
  margin-left: 24px !important;
  color: #b3b7bb !important;
  font-size: 16px !important;
  margin-left: 40px !important;
}

.custom-gradient {
  --background: linear-gradient(
    90deg,
    rgba(44, 77, 133, 1) 35%,
    rgba(87, 130, 205, 1) 100%
  ) !important;
}

.custom-item-login input {
  margin-left: 16px !important;
}
ion-item.custom-item-login:focus {
  border: none !important;
}
ion-input.custom-input-login:focus {
  border: none !important;
}
.item-has-focus {
  border: none !important;
}
ion-item.custom-item-login.item-interactive.item-input.item.md.ion-focusable.item-label.item-label-stacked.hydrated {
  --highlight-color-focused: none;
  --border-radius: 20px !important;
  --box-shadow: 2px 1px 15px 1px rgba(204, 202, 204, 1);
}
ion-item.custom-item-login.item.md.ion-focusable.item-label.item-label-floating.hydrated.item-interactive.item-input {
  --highlight-color-focused: none;
  --border-radius: 20px !important;
  --box-shadow: 2px 1px 15px 1px rgba(204, 202, 204, 1);
}
.custom-logo {
  float: left;
  position: relative;
}
.custom-icon {
  font-size: 25px;
  margin-top: -15px;
  color: #2c4d85;
}
.custom-line {
  width: 100%;
  border-bottom: 1px solid #2c4d85;
}
.custom-margin {
  margin-bottom: -10px;
}
.custom-login-text {
  font-size: 14px;
}
.btn-round {
  position: relative;
  background-color: #fff;
  color: #2c4d85;
  padding: 4px;
  border-radius: 25px;
  margin-left: -12px;
  float: left;
}
.custom-login-icon {
  position: absolute;
  // margin-left: 40%;
  border-radius: 25px;
  padding: 4px;
  background-color: #fff;
  color: #2c4d85;
  right: 3%;
  float: right !important;
}
.custom-login-p {
  font-size: 13px;
}

@media only screen and (min-width: 570px) {
  .custom-login-btn {
    width: 80%;
    margin: 0 auto;
  }
  .custom-login-btn-2 {
    --border-radius: 20px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 1.1em;
    --padding-end: 1.1em;
    --transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 15ms linear, color 15ms linear;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 1014px) and (min-width: 768px) {
  .custom-login-btn-2 {
    --border-radius: 20px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 1.1em;
    --padding-end: 1.1em;
    --transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 15ms linear, color 15ms linear;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 36px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

p.custom-login-text {
  color: #a7b5d0;
  margin-top: 30px;
  font-size: 18px;
}
p.custom-login-text span {
  color: #5c8cdc;
  font-weight: bold;
}
input.native-input.sc-ion-input-md{
  color: #2c4d85;
}