.notification{
    position: fixed;
    background-color: #fff;
    right: 0;
    height: 100vh;
    width: 20vw;
    top: 6%;
    z-index: 100000;
    -webkit-box-shadow: 6px 2px 17px 2px rgba(0, 0, 0, 0.22); 
    box-shadow: 6px 2px 17px 2px rgba(0, 0, 0, 0.22);
}
.top_nav{
    position: relative;
    top: 30%;
}
.img-notify{
    width: 40%;
    margin: 0 auto;
}