.payment-request-select:active,
.payment-request-select:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.payment-request-select {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none !important;
  color: #5d8cda !important;
}
@media only screen and (max-width: 1014px) {
  .payment-hide-select {
    display: none;
  }
}
@media only screen and (min-width: 1014px) {
}

table.request_table thead tr th {
  /* width: 250px !important; */
  color: #656060;
  padding: 5px;
  min-width: 200px !important;
}
table.request_table thead tr th:first-child {
  /* position: fixed !important; */
  min-width: 80px !important;
}
table.request_table tbody tr td:first-child {
  /* position: fixed !important; */
}
table.request_table tbody tr {
  border-top: 1px solid #c7c0c0;
  border-bottom: 1px solid #c7c0c0;
}
table.request_table tbody tr td {
  width: 250px !important;
  padding: 5px;
}
table.request_table tbody tr td ion-item {
  width: 90%;
  border: 1px solid #c7c0c0;
  border-radius: 3px;
}
.request_line_width {
  position: relative;
  overflow-x: auto;
  box-sizing: border-box;
}
.request_table {
  min-width: 100%;
  overflow-x: auto;
}
ion-select.request_line {
  background-color: #ffffff;
  border: 1px solid #c7c0c0;
  height: 100%;
  padding: 15px;
}
ion-select::placeholder {
  color: black;
}
ion-select.request_select_placeholder {
  color: #777575;
  --placeholder-color: #000000;
}
.remove_btn {
  --border-radius: 20px;
}
ion-modal.ModalScroll .modal-wrapper .ion-page {
  overflow-y: scroll !important;
}
ion-modal.ModalScroll .modal-wrapper {
  width: 80% !important;
  height: 75% !important;
  border-radius: 10px;
  padding: 10px;
}
ion-modal.Modal_Resize .modal-wrapper {
  width: 40% !important;
  height: 35% !important;
  border-radius: 10px;
  padding: 10px;
}

.fix-button {
  width: 100% !important;
  position: fixed;
  z-index: 100000;
  bottom: 0;
  background: #f4f3f2;
  padding: 7px;
}
.ion-custom-position {
  position: sticky !important;
}
ion-col.custom-progress-bg.ios.hydrated {
  padding-top: 30px !important;
}
.react-datepicker-wrapper .react-datepicker__input-container input {
  width: 100%;
  height: 35px;
}
.input-bg {
  background: #ffffff !important;
}
.css-26l3qy-menu {
  z-index: 100;
}
.ribbon-color-btn {
  --background: #5d8cda !important;
}
