ion-content {
  --background: none !important;
}
.bold {
  font-weight: 600;
}
.select-icon-inner {
  opacity: 1 !important;
}
.faint-color {
  color: #9bb0cf !important;
}
.payslip-bg {
  background: #fff url("../assets/images/graphs.png") !important;
  background-repeat: no-repeat !important;
  background-position: 50% 100% !important;
  z-index: 1000 !important;
}
.list-md {
  background: none !important;
}
ion-item.item.md.in-list.ion-focusable.item-label.hydrated {
  --background: none !important;
}
.payslip ion-card-subtitle.md.hydrated {
  color: #fff !important;
}
.payslip ion-card-title.md.hydrated {
  color: #fff !important;
}
.payslip-bg1 {
  background: #3b547c url("../assets/images/bg1.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
}
.payslip-bg2 {
  background: #293f59 url("../assets/images/bg2.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
}
.payslip-bg3 {
  background: #6b8abe url("../assets/images/bg2.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
}
.custom-payslip {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 1px 15px 5px rgba(204, 202, 204, 1);
}
.custom-payslip-btn {
  // width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 1014px) {
  .payslip {
    padding: 20px;
  }
  .payslip ion-card-subtitle.md.hydrated {
    font-size: 30px;
    font-weight: normal !important;
  }
  .payslip ion-card-title.md.hydrated {
    font-size: 40px;
  }
  .select-text.select-placeholder {
    color: #000;
  }
  .select-placeholder {
    color: #000 !important;
    opacity: 1 !important;
  }
  .custom-select {
    color: #000 !important;
    opacity: 1 !important;
  }
  .bg-border {
    // box-shadow: 2px 1px 15px 5px rgba(204, 202, 204, 1);
    // border: 1px solid rgba(204, 202, 204, 1);
    border-radius: 20px;
    padding: 20px;
    width: 97%;
  }
}
.blur-card{
  opacity: 0.5;
}
