.custom-profile-tab {
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 7px -2px rgba(92, 92, 92, 0.75);
  background-color: #fff;
  z-index: 1000;
}

.custom-profile-row {
  z-index: 1;
}

.custom-profile-margin {
  width: 75%;
  margin: 0 auto;
}

//for mobile responsiveness
@media only screen and (max-width: 570px) {
  .custom-profile {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    margin-bottom: -85px;
    width: 100%;
    z-index: 1000;
  }
  .custom-profile-margin {
    width: 100%;
  }
  .custom-profile-tab {
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 85px;
    width: 100% !important;
    z-index: 1000;
    margin-top: -4px;
  }
  .custom-profile-list ion-item ion-text {
    position: relative !important;
    left: inherit !important;
  }

  #password-modal .modal-wrapper {
    width: 92% !important;
    height: 50% !important;
  }
}

.custom-profile-div {
  background: #fff;
}
.favorite {
  background: #2c4d85;
  color: #fff;
}
.custom-color {
  color: #2c4d85;
}

.head {
  font-weight: bolder;
  font-size: 20px;
}
.dept {
  margin-top: -10px;
  font-weight: bold;
  color: #b5c7e5;
  font-size: 14px;
}
.margin {
  // margin-left: -75px !important;
}
.border {
  border: 1px solid #ccc;
}
ion-icon.icon {
  color: #000 !important;
  padding-top: 25px;
}
.img-format {
  position: relative;
}
.custom-padding {
  padding-left: 40px;
}
.custom-profile-2 {
  position: relative;
  left: 25%;
  z-index: 1000;
}
.custom-profile-list ion-item ion-text {
  position: absolute;
  left: 30%;
}
.accordion__heading .accordion__button {
  background-color: #fff !important;
}
