ion-item.custom-item-login.no-padding.item.md.in-list.ion-focusable.item-interactive.item-input.item-has-placeholder.hydrated {
  width: 85%;
  margin: 0 auto;
  --padding-start: 0px;
  --border-color: transparent;
  --border-width: none !important;
  --highlight-color-focused: none;
  --border-radius: 10px !important;
  --box-shadow: 2px 1px 5px 1px rgba(204, 202, 204, 1);
}
