.progress-bar{
    width: 100%;
    background: #B2C4E4;
    border-radius: 15px;
    height: 10px;
}
.progress{
    height: 100%;
    background: linear-gradient(90deg, #5D8CDA 9.71%, #385C8D 84.65%);
    border-radius: 15px 0px 15px 15px;

}