@media only screen and (min-width: 1014px){

    .sidesubmenu-list{
        position: absolute;
        top: -40px;
        left: -0px;
        height: 100vh;
        width: 100%;
        padding-top: 30px;

        animation-name: SideSubMenuList;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
    }
    .sidesubmenu-text{
        width: 100%;
        display: flex;
        cursor: pointer;
        font-size: 16px !important;
        color: #5D8CDA !important;
        margin-bottom: 35px;
        font-weight: 400;
        padding-left: 12px;
    }
    .sub-menu-img{
        margin-left: 12px;
        margin-right: 20px;
        width: 17px;
        float: left;
    }
    .sidebar-logo-div{
        width: 100%;
        /* margin: 0 auto; */
    }
    .sidebar-logo{
        width: 100px;
        margin: 0 auto;
    }

    @keyframes SideSubMenuList {
        0%{
            transform: translateX(-100%)
        }
        100%{
            transform: translate(0)
        }
    }
    .fixed-nav{
        position: fixed;
    }
    .sidebar-menu-bg{
        /* position: absolute */
        overflow: scroll;
        background-image: url('/assets/images/employee desk.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0% 77%;
        height: 100%;
        width: 16.6%;
    }
    .sidesubmenu-link{
        text-decoration: none;
    }
    .sidemenu-isactive{
    }
    .sidemenu-isactive .sidesubmenu-text{
        color: #385C8D !important;
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: 3px solid #385C8D;
        background: rgba(93, 140, 218, 0.3);
        
    }
}
