@media only screen and (min-width: 1014px){

    .sidesubmenu-list-icon{
        position: absolute;
        top: -40px;
        left: -0px;
        height: 100vh;
        width: 4vw;
        padding-top: 30px;

        animation-name: SideSubMenuIconList;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
    }
    .sidesubmenu-text-icon{
        /* width: 100vh;  */
        display: block;
        float: left;
        cursor: pointer;
        /* font-size: 16px !important; */
        color: #4467a0 !important;
        margin-bottom: 30px;
        /* margin-left: -8px; */
        /* font-weight: 400; */
        padding-left: 0;
    }
    .sub-menu-img{
        /* margin-left: 12px;
        margin-right: 20px; */
        width: 30px;
        float: left;
    }
    .sidebar-logo-div{
        width: 100%;
    }
    .sidebar-logo-icon{
        width: 35px;
        margin: 0 auto;
    }

    @keyframes SideSubMenuIconList {
        0%{
            opacity: 0;
            transform: translateX(100px)
        }
        100%{
            opacity: 1;
            transform: translate(0)
        }
    }
   

}
