.sidebar{
    z-index: 100;
    position: fixed;
    top: 0%;
    left: 0;
    height: 100vh;
    width: 20vw;
    background-color: #fff;
    -webkit-box-shadow: 6px 2px 17px 2px rgba(0, 0, 0, 0.22); 
    box-shadow: 6px 2px 17px 2px rgba(0, 0, 0, 0.22);
    padding-left: 10px;


    animation-name: moveInLeftSidbar;
    animation-duration: 0.2s;
    animation-timing-function: linear;
}
.menu-title{
    cursor: pointer;
}
.menu-title h6{
    color: #0c0c0cf7;
    padding-left: 5px;
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    height: 100%;
}
.menu-title:hover{
    box-shadow: -1px 0px 20px -4px rgba(0,0,0,0.55);

    animation-name: moveInTopSidbarMenuIcon;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
}
.icon-style{
    /* padding: 4px; */
}

.icon-margin{
    margin-left: -10px;

}
.icon-btn{
    background: none;
    border: none;
    box-shadow: none;
    --box-shadow: none;
}
.icon-btn.ion-color-light{
    --ion-color-base: none !important;
}
.icon-btn:hover{
    background: #ccc;
}
.icon-menu-color{

    color: #000 !important;
}
.sidebar-padding{
    padding: 10px;
}

@keyframes moveInLeftSidbar{
    0%{
        opacity: 0;
        transform: translateX(-100px)
    }
    /* 80%{
        transform: translateX(10px)
    } */
    100%{
        opacity: 1;
        transform: translate(0)
    }

}
@keyframes moveInTopSidbarMenuIcon{
    0%{
        opacity: 0.8;
        /* box-shadow: -1px 0px 20px -4px rgba(218, 216, 216, 0.55); */
    }
    100%{
        opacity: 1;
        
    }
}