.custom-confirmation {
  background-color: transparent !important;
  border: 1px solid #5c8ad9;
  border-radius: 20px;
  color: #5c8ad9;
}
.custom-confirmation-icon {
  padding: 10px;
  color: #5c8ad9;
  border-radius: 30px;
  border: 1px solid #5c8ad9;
  font-size: 30px;
}
.custom-confirmation-text {
  margin-top: -25px;
  font-style: normal;
  color: #5c8ad9;
  border-radius: 40px;
  font-weight: bold;
  box-shadow: 2px 1px 5px 1px rgba(204, 202, 204, 1);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 4px;
}
.custom-confirmation-btn {
  --ion-color-base: #fff;
  --ion-color-base-rgb: 105, 187, 123;
  --ion-color-contrast: #269460;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #269460;
  --ion-color-tint: #269460;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-end: 20px;
  --padding-start: 20px;
}
.custom-confirmation-btn-2 {
  --ion-color-base: #2c4d85;
  --ion-color-base-rgb: 105, 187, 123;
  --ion-color-contrast: #fff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #fff;
  --ion-color-tint: #fff;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-end: 20px;
  --padding-start: 20px;
}
