.icon-style {
  font-size: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #fff;
}
.custom-menu{
  --background: linear-gradient(90deg, rgba(44,77,133,1) 35%, rgba(87,130,205,1) 100%);
}
@media only screen and (min-width: 1014px) {
  .custom-menuheader {
    /* --background: #000 !important; */
    --color: #ffffff !important;
    border-bottom: 2px solid #b1c0da;
    /* padding-top: 19px !important; */
    padding-bottom: 0px !important;
    padding: 0;
  }
  .custom-menuheader ion-title {
    font-size: 22px;
    text-transform: uppercase;
    /* margin-left: 70px; */
    font-weight: normal;
    margin-top: 5px;
  }
  .icon-size{
    font-size: 24px;
  }
  .icon-float{
    margin-left: 5px;
    float: right;
    margin-top: 4px;
  }
  .padding-right{
    padding-right: 40px !important;
  }
  .icon-home-hover:hover{
    background: #284a86 !important;
  }
  .custom-menu-img-style {
    margin: 0 auto;
    border: 2px solid #5c8cdc;
    width: 40px !important;
    height: 40px !important;
    border-radius: 70%;
  }
  .custom-menu-notify {
    margin-left: -40px;
    /* margin-top: -20px !important; */
  }
  .desktopmenu{
    position: relative;
    /* padding: 0; */
    margin: 0;
    background: #000;
  }
  .no-padding{
    padding: 0;
  }
  .desktopmenu-2{
    background-color: #f3f2f1;
  }
  .sub-icon-style{
    color: #284a86;
  }
  .sub-icon-btn{
    margin-left: 8px;
  }
  .page-title{
    color: #383737;
    text-transform: uppercase;
    margin-top: 8px;
    padding-left: 3px;
  }
  h6.page-title{
    text-transform: inherit;
    font-size: 15px;
    font-weight: 400;
    width: fit-content;
    /* margin: 0 auto; */
    margin-top: 12px;
    margin-left: 66px;
  }
  .menu-header-icon{
    vertical-align: middle;
    padding-right  : 10px;
  }
}

.modal-wrapper{
  width: 450px !important;
  height: 250px !important;
}