ion-header.custom-menu-header ion-toolbar {
  --background: linear-gradient(
    to right top,
    #2c4d85,
    #355792,
    #3e62a0,
    #466dae,
    #4f78bc
  ) !important;
}
ion-header.custom-menu-header ion-toolbar.ios{
  height: 116px;
  --min-height: 116px;
}
ion-icon.ios.hydrated{
  color: #fff;
}
#shadow-root{
  height: inherit !important;
}
ion-header.custom-menu-header ion-toolbar.ios ion-title.ios{
  padding: 20px;
  height: inherit;
}
.toolbar-container{
  height: inherit;
}
:host(.toolbar-container){
    height: inherit !important;
}
ion-header.custom-menu-header
  ion-toolbar
  ion-title
  ion-grid
  ion-row
  ion-col
  ion-row
  ion-col
  ion-img
  img {
  border-radius: 20px;
}
.custom-menu-image {
  width: 52px;
  height: 50px;
  border-radius: 50px !important;
  border: 1px solid #dbe5f4;
}
ion-img.custom-menu-image img {
  --border-radius: 20px !important;
}
.custom-menu-head {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: -20px !important;
}
.custom-menu-dept {
  position: absolute;
  color: #fff;
  margin-top: -5px;
  font-size: 10px;
}
.item-inner {
  border: none !important;
  border-style: none !important;
}
ion-item {
  // padding-left: 20px;
  color: #4f78bc;
  font-weight: 500;
}
.custom-menu-icon {
  width: 10%;
  color: #dbe5f4;
}
.custom-sidebar-title{
  margin-left: 20px;
}
.current {
  position: absolute;
  width: 100%;
  color: #fff !important;
  background: #4f78bc;
}
ion-menu-toggle.md.menu-toggle-hidden.hydrated {
  display: block !important;
}
@media only screen and (min-width: 1014px) {
  ion-content{
    border-left: 2px solid #b1c0da;
  }
  .custom-menu-head {
    font-size: 26px;
  }
  .custom-menu-dept {
    font-size: 17px;
  }
  .custom-menu-header {
    // width: 90%;
    margin: 0 auto;
  }
  .custom-menu-image {
    margin-top: -50px !important;
    border-radius: 50px !important;
    border: 1px solid #afb2b8 !important;
    position: absolute;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    z-index: 10000;
  }

  ion-header.custom-menu-header ion-toolbar {
    --background: #fff !important;
  }
  .custom-menu-list.md.list-md.hydrated {
    margin-top: -40px;
    width: 78%;
    margin: 0 auto;
    background-image: linear-gradient(
      to left bottom,
      #708abc,
      #6781b4,
      #5e79ac,
      #5570a5,
      #4c689d,
      #446196,
      #3d598f,
      #355288,
      #2d4a80,
      #244378,
      #1b3b70,
      #103468
    ) !important;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .custom-menu-top-header {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-image: linear-gradient(
      to right,
      #264882,
      #2f528e,
      #375c9b,
      #4066a8,
      #4870b5
    ) !important;
  }
  ion-item {
    // color: #dbe5f4;
    color: #4f78bc;
  }
  .item-native {
    width: 80% !important;
    margin: 0 auto !important;
  }
  .item-inner {
    margin-left: -20px !important;
    border-width: 0 !important;
    border-style: none !important;
    border-style: none !important;
  }
  ion-item.custom-menu-item {
    width: 90% !important;
    margin: 0 auto !important;
    border: 2px solid #6791d973;
    border-radius: 25px;
    margin-bottom: 17px !important;
    cursor: pointer;
  }
  ion-item.custom-menu-item .item-native .item-inner {
    // margin-left: -20px;
    border-style: none !important;
  }
  ion-item.custom-menu-item ion-label {
    --color: #fff !important;
    color: var(--color) !important;
    font-size: 18px !important;
    font-weight: bold;
  }
  ion-item.custom-menu-item ion-label::before {
    // content: "\02C5";
    // position: absolute;
    // font-size: 20px;
    // -webkit-transform: rotate(25deg);
    /* transform: rotate(25deg); */
    // right: 0;
    // /* width: 100%
  }
  ion-item.custom-menu-item.item.md.in-list.ion-focusable.item-label.hydrated {
    --inner-border-width: none !important;
    --border-color: transparent !important;
    // width: 85% !important;
    margin: 0 auto;
    // margin-left: -20px;
  }
  .custom-menu-margin {
    margin-top: -10px;
  }
  ion-header.custom-menu-header.md.header-md.hydrated {
    // margin-bottom: -12px;
  }
  .custom-menu-logo {
    width: 78px !important;
  }
  p.custom-menu-text {
    color: #a7b5d0;
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
  }
  p.custom-menu-text span {
    color: #5c8cdc;
    font-weight: bold;
    font-size: 18px;
  }
  .custom-menu-border {
    border-bottom: 2px solid #b1c0da;
    margin-right: -5px;
    padding-left: 40px;
    margin-top: -6px;
  }
  .custom-menu-header-margin {
    // margin-bottom: -5px;
  }
  ion-title.md.title-md.hydrated {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .split-pane-md {
    --border: none !important;
  }

  .header-md:after {
    background-image: none !important;
  }
  .custom-menu-margin-center {
    width: 300px;
    margin: 0 auto;
  }
  .custom-menu-icon-color {
    color: #fff;
  }
  ion-item {
    .ion-item {
      margin-left: -20px !important;
    }
  }
}
.picker-wrapper.sc-ion-picker-md {
  top: 15%;
}
ion-datetime.md.in-item.hydrated{
  color: #777575;
}
ion-content.outer-content{
  --background: #fff !important;
  --background-color: none !important;
}
@media only screen and (min-width: 1014px) {
  .custom-menu{
    display: none !important;
    
  }
}

@media only screen and (min-width: 1014px) {
  .ion-hide-custom-lg-up{
    display: none !important;
  }
}

@media only screen and (max-width: 1014px) {
  .ion-hide-custom-lg-up{
    display: block !important;
  }
}
.toolbar-container{
  height: 100% !important;
}